.venv/

# Python
**/__pycache__/
**/*.pyc
*.pyo
*.pyd
aidocsynth/ui/qrc_resources.py

# IDE / Editor
.idea/
.vscode/
*.swp

# macOS
.DS_Store

# PyInstaller
build/
dist/
.build/

# Test & Coverage Artifacts
.pytest_cache/
htmlcov/
.coverage
.coverage.*
coverage.xml
