Quelldatei: '{{ filename }}'

Metadaten: 
----------------
{{ meta | tojson }}
----------------

Inhalt: 
----------------
{{ content }}
----------------

Verzeichnisstruktur:
----------------
{{ directory_structure }}
----------------
