Quelldatei: `{{ target_filename_string }}`

Quellmetadaten: 
```json
{{ metadata_string }}
```

Quelldokument: 
```text
{{ content_string }}
```

Quellverzeichnisstruktur:
```text
{{ directory_structure_json }}
```

---

ZIEL AUSGABE:
```json
{
  "headline": "...",
  "specifier": "...",
  "context": "...",
  "yyyymmdd": "YYYYMMDD",
  "document_type": "...",
  "addressed_party": "...",
  "author": "...",
  "description": "...",
  "comment": "...",
  "keywords": ["...", "...", "..."],
  "target_directory": ".../.../.../",
  "target_filename": "headline_yyyymmdd_specifier.ext"
}
```
