<file_info>
Quelldatei: `{{ target_filename_string }}`
</file_info>

<metadata>
{{ metadata_string }}
</metadata>

<document_content>
{{ content_string }}
</document_content>

<directory_structure>
{{ directory_structure_json }}
</directory_structure>

---

<output_schema>
{
  "headline": "...",
  "specifier": "...",
  "context": "...",
  "yyyymmdd": "YYYYMMDD",
  "document_type": "...",
  "addressed_party": "...",
  "author": "...",
  "description": "...",
  "comment": "...",
  "keywords": ["...", "...", "..."],
  "gedankengang": "...",
  "target_directory": ".../.../.../",
  "target_filename": "headline_yyyymmdd_specifier.ext"
}
</output_schema>
